

.header {
    padding-top: 30px;
    position: relative;
}
tr {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header .logo {
    position: absolute;
    width: 200px;
    height: auto;
    top: 65px;
}

h1 {
    color:#349dff;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

h4{
    color: black;
    text-align: center;   
}
.statement{
        text-align: center;
}
.statement h4{
    font-size: 25;
    font-weight: 600;
}
.statement h1{
    margin-top: 20px;
    font-weight: 700;
    font-size: 70px;
}

.card-{
    border-radius: 30px;
    box-shadow: 0 0 4px lightgray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 60px; 
}
.card-table {
    border-radius: 30px;
    box-shadow: 0 0 4px lightgray;
    padding: 20px;
    margin-top: 20px;
}
.card-table h2{
    font-size: 30;
    font-weight: 700;
}


.container h3{
    font-size: medium;
}
thead {
    background: rgb(2,0,36);
background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(2,0,75,1) 0%, rgba(1,0,113,1) 0%, rgba(0,0,183,1) 0%, rgba(0,212,255,1) 84%);
color: rgba(255, 251, 236, 0.863);
padding: 10px;
border-radius: 7px;
}
.edit-btn-date{
    border-radius: 40px;
}
.edit-btn-download{
    border-radius: 30px;
    margin-left: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table td {
    background-color: rgb(247, 245, 245);
    margin-bottom: 10px;
}
.table td {
    border-top: none !important;
}

.table tr td:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.table tr td:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.table tr th:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.table tr th:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.class p {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 780;
}
.bold {
    font-weight: bold;
}
.green {
    color: rgb(17, 163, 17);
    background-color: rgba(115, 216, 115, 0.384);
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 1px 15px;
    font-weight: bolder;
    font-size: 13px;
}
.red {
    color: rgb(218, 63, 16);
    background-color: rgba(190, 110, 110, 0.322);
    border-radius: 15px;
    text-align: center;
    font-weight: bolder;
    padding: 1px 15px;
    font-weight: bolder;
    font-size: 13px;
}
.ta {
    text-align: center;
}