
 <div class="card-">
  <div class="class">
      <p>Your family & Friends-1st Circle <span style="color:orangered">{{data?.length}}</span></p>
      <p>Their Friends-Your 2nd Circle thru to 12th circle <span style="color: orangered">(128)</span></p>
<table class="table" >
  <thead>
      <tr>
          <th>Name</th>
          <th>joined</th>
          <th>their first circle</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of data">
          <td class="bold">{{item.Name}}</td>
          <td>{{item.Joined}}</td>
          <td> {{item.Circle}} </td>
      </tr>
  </tbody>
</table>
</div>  