
<div class="container-fluid mt-4">
  <div class="outer-wrapper">
    <span class="title">Your Business Card</span>
    <button class="btn btn-danger float-right download" (click)="downloadAsPDF()">Download</button>
      <div class="wrapper" id="pdfTable" >
        <img class="logo" src="../assets/images/logo.png"/>
        <div class="scan">
          <img class="text" src="../assets/images/scanme.png" />
          <div class="qr-container"><ngx-qrcode cssClass="qr" [value] = "card?.ScanCodeURLAddress"></ngx-qrcode></div>
        </div>

        <div class="details">
          <p class="person">
            <img src="../assets/icons/person.png" />
            <span>{{card?.Name}}</span>
          </p>
          <p class="mobile">
            <img src="../assets/icons/mobile.png" />
            <span>{{card?.Mobile}}</span>
          </p>
          <p class="mail">
            <img src="../assets/icons/mail.png" />
            <span>{{card?.Email}}</span>
          </p>
        </div>
      </div>

  </div>
</div>

